name: Check for updates
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  check_for_image_updates:
    name: Check for image updates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run check_for_image_updates.sh
        run: |
          ./tools/check_for_image_updates.sh "$(awk -e '/FROM/{print $2}' Dockerfile | grep composer)" docker.io/composer:latest
          ./tools/check_for_image_updates.sh "$(awk -e '/FROM/{print $2}' Dockerfile | grep php)" docker.io/php:alpine
  check_for_library_updates:
    name: Check for library updates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run composer update --no-install
        run: ./tools/composer.sh update --no-install
      - name: Run check_for_file_updates.sh
        run: ./tools/check_for_file_updates.sh composer.lock
  check_for_action_updates:
    name: Check for GitHub Actions updates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run check_for_action_updates.sh
        run: |
          ./tools/check_for_action_updates.sh actions/checkout
          ./tools/check_for_action_updates.sh docker/build-push-action
          ./tools/check_for_action_updates.sh docker/login-action
          ./tools/check_for_action_updates.sh docker/setup-buildx-action
          ./tools/check_for_action_updates.sh docker/setup-qemu-action

